.project {
  display: flex;
  width: 1100px;
  height: auto;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 35px;
  padding: 20px;
  border-radius: 6px;
}

.project:hover {
  img{
    transform: scale(1.01);
  }
}

img {
  width: 70%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  text-align: start;
  font-size: 20px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 30px;
  margin-left: 35px;
}

.buttons h3{
  margin-left: 3px;
  margin-bottom: 10px;
}

.buttons p{
  margin-left: 3px;
  margin-bottom: 30px;
}

.code-button,
.site-button {
  margin-left: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
  text-decoration: none;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.code-button:hover,
.site-button:hover {
  color: black;
  background-color: #ffffff;
  border: 1px solid #000000;
}

@media screen and (max-width: 1080px) {
  .project {
    width: 90%;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
  }

  img {
    width: 70%;
  }

  .buttons {
    padding: 15px;
    margin-left: 0;
  }
  
  .buttons h3 {
    font-size: 20px;
  }
  .buttons p {
    font-size: 16px;
  }

  .code-button,
.site-button{
  font-size: 15px;
}
  
}

@media screen and (max-width: 850px){
  .project {
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
  }

  img {
    width: 90%;
  }

  .buttons {
    padding: 15px;
    margin-left: 0;
    justify-content: space-around;
  }
  
  .buttons h3 {
    font-size: 20px;
  }
  .buttons p {
    font-size: 14px;
  }

  .code-button,
.site-button{
  font-size: 14px;
}}

@media screen and (max-width: 714px) {
  
  .project {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
  }

  img {
    width: 90%;
  }

  .buttons {
    padding: 15px;
    margin-left: 0;
    justify-content: space-around;
    text-align: center;
  }
  
  .buttons h3 {
    font-size: 20px;
  }
  .buttons p {
    font-size: 16px;
  }
  
}