/* About.css */

.about-container {
     margin: 150px 150px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     text-align: center;
     color: #000000;
     border-radius: 10px;
   }

   .about-container p{
     margin-bottom: 30px;
   }
   
   span {
     font-weight: bold;
     padding-left: 4px;
     padding-right: 4px;
     color: #000000; /* Blue color for emphasis */
   }
   
   strong {
     font-weight: bold;
   }
   
   #about {
     font-weight: 200;
     font-size:  3.5rem;
     margin-bottom: 80px;
     text-align: center;
   }
   /* Media query for responsive design */
   @media screen and (max-width: 1150px){
     .about-container {
       margin: 70px 70px;
     }
   }
   
   @media screen and (max-width: 714px) {
     .about-container {
       margin: 50px 50px;
     }
     
     #about {
       font-size: 2.7rem;
     }

     h1 {
       font-size: 30px;
     }
   
     .about-container p {
          font-size: 16px;
        }
   }
   

   @media screen and (max-width: 500px) {
     .about-container {
       margin: 30px 30px;
     }
     
     
   }